.env

backend/logs
backend/venv/*
backend/.venv/*
backend/app/__pycache__
backend/app/models/__pycache__
backend/app/routes/__pycache__
backend/app/services/__pycache__
backend/app/utils/__pycache__

.pytest_cache

.ipynb_checkpoints
# Local Netlify folder
.netlify
